<div class="container">
  <div class="raw">
    <div class="col-md-offset-4 col-md-4">
      <fieldset>
        <legend><br><br>Please Enter Your Details</legend>
        <%= render 'form' %>
      </fieldset>
    </div>
  </div>
</div>
