// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store {
  #columns {
    #side {
      padding: 1em 1em;

      form, div {
        display: inline;
      }

      label {
        font-weight: normal;
        display: block;
        margin-top: 10px;
      }

      input {
        font-size: small;
      }

      #cart {
        .table th, .table td {
          border: 0 !important;
        }
 
        table {
          border-bottom: 1px solid lightgray;
          margin-bottom: 10px;
        }

        table td {
          padding-left: 0;
        }
      }

      #categories h4 {
        padding-top: 2em;
      }

      ul li {
        list-style: none;
        padding-top: 0.5em;
      }
    }

    #main {
      .table > tbody > tr:first-child > td {
          border-top: none;
      }

      .table {
        margin-top: 1em;
      }

      .price {
        font-size: large;
        font-weight: bolder;
      }

      .thumbnail {
        max-width: 300px;
      }
    }
  }
}
